/* body {
    font-size: 12pt;
    background-color: white;
    text-align: right;
}

p{
    color: red;
    font-size: 18px;
    text-align: left;
}

div{
    height: 100px;
    width: 300px;
    background-color: white;
    color: black;
    margin-top: 50pt;
    margin-bottom: 30pt;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed red;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 100px;
} */